body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}


.header {
    background-color: black;
    border-bottom: 2px solid white;
    margin: 20px;
    margin-bottom: 100px;
}

.header .container h1 {
    color: white;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container img {
    width: 70px;
    display: flex;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header .container h1 {
    font-size: 40px;
}

.header a {
    text-decoration: none;
    color: white;
}

ul {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-size: 20px;
    gap: 10px;
    font-style: italic;
}

ul li {
    display: inline-block;
}

ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

ul li a:hover {
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.banner {
    background-color: black;
    color: white;
}

.banner .container {
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
}

.banner .container .borda {
    border: 2px solid white;
    padding: 20px;
}

.banner .container .legenda {
    font-size: 12px;
}

.banner .container img {
    width: 400px;
}

.footer {
    background-color: black;
    color: white;
}

.footer .container {
    justify-content: center;
    align-items: center;
}